:root {
    --cherry-red: #ed1c25;
    --peacock-blue: #0053a0;
    --greyish-brown: #434343;
    --white: #ffffff;
    --greyish-brown-two: #555555;
    --vermillion: #e02020;
    --battleship-grey: #6d7278;
    --white-two: #f9f9f9;
    --black: #000000;
    --black-two: #1e1e1e;
    --white-three: #d8d8d8;
    --rouge: #c2131b;
    --warm-grey: #979797;
    --kermit-green: #3bc600;
    --dark: #202e3f;
    --white-four: #e4e4e4;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

.without-margin {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/* Headroom */

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

/* Headroom fin */

.uppercase {
    text-transform: uppercase;
}

.logo-color {
    width: 150px;
}

.contacto-completo, .contacto-completo-dark {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background-color: var(--peacock-blue);
    color: var(--white);
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.26px;
    display: flex;
    align-items: center;
    text-align: right;
}

.logo-exel-mexicana {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 32px;
    width: 230px;
    object-fit: contain;
}

.logo-exel-mexicana-color {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 32px;
    width: 230px;
    object-fit: contain;
}

.back-logo {
    width: 100%;
    background-color: var(--white);
}

.contacto-completo-dark {
    background-color: var(--greyish-brown-two);
}

.contacto-completo img {
    margin-left: 10px;
}

.img-logo img {
    width: 200px;
}

.navbar {
    padding-bottom: 0px;
    border-bottom: 0.5px solid var(--white);
}

.navbar-white {
    padding-bottom: 0px;
    border-bottom: 1px solid var(--black);
}

.navbar-light .navbar-nav .nav-link {
    font-size: 12px;
    color: var(--white) !important;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.nav-item {
    border-bottom: 5px solid transparent;
}

.nav-item:hover {
    transition: 0.5s ease-in;
    border-bottom: 5px solid var(--cherry-red);
}

.active-nav {
    border-bottom: 5px solid var(--cherry-red);
}

.btn-cotizador {
    position: relative;
    width: 120px;
    padding: 5px;
    top: 5px;
    background-color: var(--peacock-blue);
    color: var(--white) !important;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.oval {
    position: absolute;
    background-color: var(--cherry-red);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: -5px;
    top: -5px;
}

.bg-trans {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--white) !important;
    box-shadow: 0px 15px 16px -9px rgba(0, 0, 0, 0.20);
}

.navbar-black a {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: var(--black);
}

.title-slider {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--white);
}

.subtitle-slider {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.25px;
    color: var(--white);
}

.btn-danger {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--white);
    border-radius: 0px;
    background-color: var(--cherry-red);
    margin-left: 10px;
}

.first {
    width: 100%;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--battleship-grey), var(--battleship-grey)), url('../assets/img/foto.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mask {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.mask h4, h5, p {
    padding-left: 10px;
}

.mask p {
    font-size: 13px;
    width: 70%;
}

.callout-bottom {
    width: 70%;
    margin-left: 10px;
    border-bottom: 4px solid var(--white);
    border-radius: 3px;
    color: var(--white);
}

.text-slider {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: var(--white);
}

.align-categorias {
    display: flex;
    align-items: center;
    justify-content: center;
}

.callout-bottom-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--greyish-brown);
    width: 300px;
    border-bottom: 1px solid var(--warm-grey);
    padding-bottom: 5px;
    border-radius: 3px;
}

.callout-bottom-span {
    position: absolute;
    width: 60px;
    height: 5px;
    top: 26px;
    background-color: var(--peacock-blue);
}

/* inicio modal */

.modal.left .modal-dialog {
    position: fixed;
    right: 0;
    margin: auto;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

.modal-header .close {
    padding: 0px;
    margin: 0px;
    float: left;
    font-weight: lighter;
    text-shadow: none;
    font-size: 2em;
}

.form-buscar {
    width: 100%;
    text-transform: uppercase;
    margin-left: 10px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #434343;
}

.form-buscar:focus {
    transition: .25s ease-in;
    outline: none;
    border-bottom: 1px solid #0053A0;
}

/* fin modal */

/* Slick JS */

.slider .slick-dots {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.slick-dots li button {
    width: 50px;
    height: 4px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.50);
}

.slider .slick-prev, .slider .slick-next, .slider-marcas .slick-prev, .slider-marcas .slick-next {
    background-color: rgba(255, 255, 255, 0.50);
    width: 40px;
    height: 80px;
    z-index: 10;
}

.slider .slick-prev, .slider-marcas .slick-prev {
    left: 0px;
}

.slider .slick-prev::before, .slider-marcas .slick-prev::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f053";
}

.slider .slick-prev:hover {
    background-color: rgba(255, 255, 255, 0.60);
}

.slider .slick-next, .slider-marcas .slick-next {
    right: 0px;
}

.slider .slick-next:before, .slider-marcas .slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
}

.slider .slick-next:hover {
    background-color: rgba(255, 255, 255, 0.60);
}

.slider-marcas {
    width: 100%;
    box-sizing: content-box;
}

.slider-marcas .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-marcas .slick-next::before, .slider-marcas .slick-prev::before {
    color: #0053A0;
}

.slider-marcas .slick-list {
    padding: 20px;
}

/* Slick JS fin */

.productos {
    position: relative;
    top: -30px;
    bottom: 30px;
}

.productos-nuevos {
    position: relative;
    width: 100%;
    height: 60vh;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--peacock-blue), var(--peacock-blue)), url('../assets/img/fondo_1.png');
    background-size: cover;
    background-position: center;
}

.productos-nuevos-1 {
    position: relative;
    width: 100%;
    height: 60vh;
    left: 0px;
    right: 500px;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--rouge), var(--rouge)), url('../assets/img/fondo_2.png');
    background-size: cover;
    background-position: center;
}

.brown {
    background-color: var(--greyish-brown);
    color: var(--white);
}

.battleship-grey {
    background-color: var(--battleship-grey);
}

.peacock-blue {
    background-color: var(--peacock-blue);
}

.greyish-brown-two {
    background-color: var(--greyish-brown-two);
}

.title-card-categoria-grande {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.33px;
    color: var(--white);
}

.btn-outline-danger {
    border: 1px solid var(--cherry-red) !important;
    border-radius: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--white);
}

.title-card-categoria, .title-card-categoria-brown {
    font-family: 'Raleway', sans-serif;
    font-size: 20px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.83px;
    color: var(--white);
}

.title-card-categoria-brown {
    color: var(--greyish-brown);
}

.btn-outline-primary {
    border: 1px solid var(--peacock-blue);
    border-radius: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--greyish-brown);
}

.btn-big {
    font-size: 30px;
    letter-spacing: 1px;
}

.img-bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.img-bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 40% !important;
}

.img-left-litle {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.img-bottom-right {
    position: absolute;
    bottom: 0px !important;
    right: 0px;
    width: 35% !important;
}

.litle-img {
    width: 90% !important;
}

.medium-img {
    width: 90% !important;
}

.big-img {
    width: 80% !important;
}

.img-bottom-discos {
    position: absolute;
    bottom: 0px;
    right: 30px;
}

.img-bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.white-three {
    background-color: var(--white-three);
    color: var(--greyish-brown);
}

.cherry-red {
    background-color: var(--cherry-red);
}

.image-form {
    width: 100%;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--peacock-blue), var(--peacock-blue)), url('../assets/img/img_cotizador.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cotiza-text {
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.95px;
    color: var(--white);
}

.mask-input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.form-foo, .text-label, .btn-buscar {
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--battleship-grey);
}

.text-label {
    color: var(--white);
}

.btn-buscar {
    height: 35px;
    margin-top: 36px;
    background-color: var(--cherry-red);
    color: var(--white);
    border-radius: 0px;
}

.btn-buscar:hover {
    background-color: var(--vermillion);
    color: var(--white);
}

.form-control, .custom-select {
    border-radius: 0px;
    width: 100%;
}

.input-group-text {
    background-color: var(--white);
    border: 1px solid transparent;
    border-radius: 0px;
}

.catalogo-img {
    width: 100%;
    height: 55vh;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--greyish-brown-two), var(--greyish-brown-two)), url('../assets/img/img_catalogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contacto-asesor {
    width: 100%;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--cherry-red), var(--cherry-red)), url('../assets/img/img_contacto.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mask-asesor {
    padding-top: 40px;
    padding-bottom: 40px;
}

.contacta-text, .contacto-text {
    font-family: 'Raleway', sans-serif !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
}

.contacto-text {
    font-weight: normal;
    letter-spacing: normal;
}

.mask-asesor a {
    display: block;
}

.mask-asesor a:hover {
    text-decoration: none;
}

.mask-asesor img {
    padding-right: 20px;
}

.btn-mapa {
    position: relative;
    left: 0;
}

.form-transparent, .btn-enviar-asesor {
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
}

.form-transparent::placeholder {
    color: var(--white);
}

.form-transparent:focus {
    background-color: transparent;
    color: #ffffff;
}

.btn-enviar-asesor {
    background-color: var(--peacock-blue);
    border-radius: 0px;
}

.btn-enviar-asesor:hover {
    background-color: var(--peacock-blue);
    color: var(--white);
}

.google-maps {
    width: 100%;
    height: 30vh;
}

footer {
    background-color: var(--peacock-blue);
    color: var(--white);
}

.footer-link, .footer-links-light {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.34px;
    color: var(--white);
    padding: 0px;
}

.footer-links-light {
    padding-top: 0px;
    font-weight: normal;
    line-height: 1.88;
}

.footer-logo {
    width: 200px;
}

.derechos-reservados {
    background-color: var(--black-two);
}

.derechos-reservados a, .derechos-reservados p, .brand-industry {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--battleship-grey);
    padding-top: 20px;
}

.copy a:before {
    content: "\| ";
}

.derechos-align {
    display: inline-block;
}

.breadcrumb {
    background-color: var(--white) !important;
}

.breadcrumb-item, .breadcrumb .active, .dropdown-item, .item-piezas {
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.47px;
    color: var(--greyish-brown);
    padding: 5px;
}

.breadcrumb a {
    color: var(--greyish-brown);
}

.breadcrumb .active {
    color: var(--cherry-red);
    padding-top: 5px;
    padding-left: 0px;
}

.text-productos {
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--greyish-brown);
}

.categorias-md-p {
    position: relative;
    width: 100%;
    height: 250px;
    opacity: 0.9;
    transition: 0.3s;
}

.categorias-md-p:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.categorias-md-p h5 {
    position: absolute;
    top: 260px;
    left: -10px;
    color: #555555;
}

.categorias-md-p img {
    width: 90%;
}

.categorias-md-p .big-img {
    width: 60%;
}

.categorias-md-p .left-img {
    position: relative;
    left: -50px;
}

.categorias-md-p .discos-pasta {
    position: relative;
    width: 80%;
    right: -50px;
}

.categorias-md-p .direcciones-img {
    position: relative;
    left: -30px;
    width: 60%;
}

.left-img-nw {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 150px;
}

.filtro-busqueda {
    background-color: var(--peacock-blue);
    width: 100%;
    margin-left: 1px;
}

.page-item.active .page-link {
    color: var(--cherry-red);
    background-color: var(--white);
}


.filtro-busqueda .btn-marcas {
    border-left: 1px solid rgb(202, 202, 202);
    border-right: 1px solid rgb(202, 202, 202);
    border-radius: 0px;
}

.filtro-busqueda .btn-filtro:focus, .filtro-busqueda .btn-marcas:focus {
    background-color: var(--cherry-red);
    color: var(--white);
}

.table td {
    vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F3F7FB;
}

.btn-carrito {
    border-radius: 0px;
    background-color: var(--peacock-blue);
    color: var(--white) !important;
}

.btn-carrito:hover {
    border-radius: 0px;
    background-color: var(--peacock-blue);
    color: var(--white) !important;
}

.form-table {
    width: 80px;
    height: 30px;
}

.descripcion-table:hover {
    cursor: pointer;
    color: var(--cherry-red);
    text-decoration: none;
}

.form-mostrar {
    margin-left: 5px;
    width: 200px;
}

.right-align {
    position: relative;
    right: 0px;
}

.page-link {
    border: 0px;
}

.btn-descargar {
    position: relative;
    height: 40px;
    background-color: var(--cherry-red);
    color: var(--white) !important;
    border-radius: 0px;
}

.btn-descargar:hover {
    background-color: var(--vermillion);
    color: var(--white) !important;
}

.icon-descargar {
    position: absolute;
    width: 30px;
    height: 40px;
    padding: 5px;
    top: -1px;
    padding-top: 10px;
    margin-left: 10px;
    background-color: var(--peacock-blue);
    color: var(--white);
}

.productos-page>p, .productos-page>a {
    color: #555555;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 0px;
}

.productos-page h4 {
    margin-top: 0px;
    padding-left: 10px;
}

.card-cotizacion {
    width: 100%;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--white-two);
}

.card-cotizacion>h6 {
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--greyish-brown);
    margin-bottom: 20px;
}

.form-cotiza {
    margin-top: 20px;
    background-color: var(--white);
    border: 1px solid var(--white);
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--greyish-brown);
}

.btn-card-cotizar {
    position: relative;
    top: -40px;
    background-color: var(--cherry-red);
    border-radius: 0px;
    padding: 10px;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: var(--white);
}

.card-cotizacion button:hover {
    background-color: var(--vermillion);
    color: var(--white);
    border-radius: 0px;
}

.number-form {
    width: 80px;
}

.white-four {
    background-color: var(--white-four);
}

.card-informacion {
    width: 100%;
    height: 280px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.title-card-cotizador, .text-card-cotizador {
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--white);
}

.text-card-cotizador {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.56;
    letter-spacing: 0.53px;
}

.card-pago {
    color: var(--greyish-brown);
}

.pago, .garantia {
    padding-top: 45px;
}

.align-center {
    display: flex;
    justify-content: center;
}

.btn-buscar-blue {
    position: relative;
    top: 20px;
    background-color: #0053A0;
    color: #ffffff;
    border-radius: 0px;
}

.btn-buscar-blue:hover {
    background-color: rgb(2, 73, 139);
    color: #ffffff;
}

.btn-cotizador-card {
    margin-top: 70px;
}

.filtro-busqueda h4, .filtro-busqueda .btn-marcas, .filtro-busqueda .btn-filtro, .table-text, .page-item {
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--white);
    padding-top: 10px;
    padding-left: 10px;
}

.filtro-busqueda .btn-filtro {
    font-size: 12px;
    padding-top: 11px;
    background-color: transparent;
    color: var(--white);
    border-radius: 0px;
}

.table-text {
    color: var(--black);
}

.page-link {
    color: var(--greyish-brown);
    padding: 5px 5px;
}

.title-cotizador {
    opacity: 0.7;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.47px;
    color: var(--greyish-brown);
}

.subtitle-cotizador, .disponible, .links-chat {
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--dark);
}

.disponible {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.67px;
    color: var(--kermit-green);
}

.chat-text, .card-cantidad {
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--greyish-brown-two);
}

.card-cantidad {
    padding-left: 5px;
    font-size: 16px;
}

.links-chat {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: normal;
    color: var(--cherry-red);
    padding-left: 10px;
    padding-right: 10px;
}

.links-chat:hover {
    color: var(--vermillion);
}

/* col */

@media screen and (min-width: 350px) {
    .first, .second, .third {
        height: 80vh;
    }
    .bg-light {
        position: relative;
        background-color: var(--white) !important;
    }
    .slick-dots li button {
        width: 30px;
    }
    .slider .slick-dots li {
        margin-left: 10px;
    }
    .categorias {
        position: relative;
        width: 100%;
        height: 40vh;
    }
    .categorias-md {
        position: relative;
        width: 100%;
        height: 50vh;
        padding: 10px;
    }
    .categorias-md img {
        width: 70%;
    }
    .categorias-lg {
        position: relative;
        width: 100%;
        height: 80vh;
    }
    .categorias-lg img {
        width: 70%;
    }
    .categorias-sm {
        position: relative;
        width: 100%;
        height: 40vh;
    }
    .categorias-nw {
        position: relative;
        width: 100%;
        height: 50vh;
    }
    .categorias-nw img {
        width: 50%;
    }
    .categorias-md-f {
        position: relative;
        width: 100%;
        height: 50vh;
    }
    .modal.left .modal-dialog {
        width: 90% !important;
    }
}

/* col-sm */

@media screen and (min-width: 350px) and (max-width: 544px) {
    .first, .second, .third {
        height: 90vh;
    }
    .bg-light {
        position: relative;
        background-color: var(--white) !important;
    }
    .slick-dots li button {
        width: 30px;
    }
    .slider .slick-dots li {
        margin-left: 10px;
    }
    .categorias {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .categorias-md {
        position: relative;
        width: 100%;
        height: 60vh;
        padding: 10px;
    }
    .categorias-lg {
        position: relative;
        width: 100%;
        height: 80vh;
    }
    .categorias-sm {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .categorias-nw {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .categorias-md-f {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .title-card-categoria, .title-card-categoria-brown, .btn-outline-danger, .btn-outline-primary {
        font-size: 20px !important;
    }
    .title-card-categoria-grande {
        font-size: 30px !important;
    }
    .litle-img {
        width: 90% !important;
    }
    .big-img {
        width: 60% !important;
    }
    .img-bottom-right, .img-bottom-left {
        width: 50% !important;
    }
    .modal.left .modal-dialog {
        width: 90% !important;
    }
}

/* col-md */

@media screen and (min-width: 544px) and (max-width: 768px) {
    .first, .second, .third {
        height: 100vh;
    }
    .bg-light {
        position: relative;
        background-color: var(--white) !important;
    }
    .slick-dots li button {
        width: 40px;
    }
    .slider .slick-dots li {
        margin-left: 30px;
    }
    .categorias {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .categorias-md {
        position: relative;
        width: 100%;
        height: 50vh;
        padding: 10px;
    }
    .categorias-md img {
        width: 70%;
    }
    .categorias-md h4 {
        font-size: 15px;
    }
    .categorias-lg {
        position: relative;
        width: 100%;
        height: 80vh;
    }
    .categorias-lg img {
        width: 70%;
    }
    .categorias-sm {
        position: relative;
        width: 100%;
        height: 50vh;
    }
    .categorias-nw {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .categorias-nw img {
        width: 50%;
    }
    .categorias-md-f {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .modal.left .modal-dialog {
        width: 90% !important;
    }
}

/* col-lg */

@media screen and (min-width: 768px) and (max-width: 992px) {
    .first, .second, .third {
        height: 70vh;
    }
    .bg-light {
        position: relative;
        background-color: var(--white) !important;
    }
    .navbar-light .navbar-nav .nav-link {
        color: var(--black) !important;
    }
    .navbar-togger-icon {
        color: var(--black-two) !important;
    }
    .slick-dots li button {
        width: 30px;
    }
    .slider .slick-dots li {
        margin-left: 10px;
    }
    .categorias {
        position: relative;
        width: 100%;
        height: 30vh;
    }
    .categorias-md {
        position: relative;
        width: 100%;
        height: 300px;
    }
    .categorias-lg {
        position: relative;
        width: 100%;
        height: 500px;
    }
    .categorias-nw {
        position: relative;
        width: 100%;
        height: 300px;
    }
    .categorias-sm {
        position: relative;
        width: 100%;
        height: 30vh;
    }
    .categorias-md-f {
        position: relative;
        width: 100%;
        height: 62vh;
    }
    .modal.left .modal-dialog {
        width: 90% !important;
    }
    .card-informacion {
        width: 100%;
        height: 350px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .title-card-categoria, .title-card-categoria-brown, .btn-outline-danger, .btn-outline-primary {
        font-size: 13px !important;
    }
    .title-card-categoria-grande {
        font-size: 30px !important;
    }
    .litle-img {
        width: 80% !important;
    }
    .big-img {
        width: 50% !important;
    }
}

/* col-xl */

@media screen and (min-width: 992px) and (max-width: 1400px) {
    .first, .second, .third {
        height: 90vh;
    }
    .bg-light {
        position: relative;
        background-color: transparent !important;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0px;
        padding-right: 0px;
    }
    .slick-dots li button {
        width: 50px;
    }
    .slider .slick-dots li {
        margin-left: 30px;
    }
    .categorias {
        position: relative;
        width: 100%;
        height: 40vh;
    }
    .categorias-md h4 {
        font-size: 25px;
    }
    .categorias-md {
        position: relative;
        width: 100%;
        height: 400px;
        padding: 10px;
    }
    .categorias-lg {
        position: relative;
        width: 100%;
        height: 500px;
    }
    .categorias-nw {
        position: relative;
        width: 100%;
        height: 400px;
    }
    .categorias-sm {
        position: relative;
        width: 100%;
        height: 40vh;
    }
    .categorias-md-f {
        position: relative;
        width: 100%;
        height: 83vh;
    }
    .modal.left .modal-dialog {
        width: 60% !important;
    }
    .medium-img {
        width: 80% !important;
    }
    .big-img {
        width: 80% !important;
    }
}

@media screen and (min-width: 1400px) and (max-width: 2000px) {
    .first, .second, .third {
        height: 90vh;
    }
    .bg-light {
        position: relative;
        background-color: transparent !important;
    }
    .modal.left .modal-dialog {
        width: 60% !important;
    }
    .slick-dots li button {
        width: 50px;
    }
    .slider .slick-dots li {
        margin-left: 30px;
    }
    .categorias {
        position: relative;
        width: 100%;
        height: 30vh;
    }
    .categorias-md h4 {
        font-size: 25px;
    }
    .categorias-md {
        position: relative;
        width: 100%;
        height: 40vh;
        padding: 10px;
    }
    .categorias-lg {
        position: relative;
        width: 100%;
        height: 50vh;
    }
    .categorias-nw {
        position: relative;
        width: 100%;
        height: 40vh;
    }
    .categorias-sm {
        position: relative;
        width: 100%;
        height: 30vh;
    }
    .categorias-md-f {
        position: relative;
        width: 100%;
        height: 62vh;
    }
}