:root {
    --cherry-red: #ed1c25;
    --peacock-blue: #0053a0;
    --greyish-brown: #434343;
    --white: #ffffff;
    --greyish-brown-two: #555555;
    --vermillion: #e02020;
    --battleship-grey: #6d7278;
    --white-two: #f9f9f9;
    --black: #000000;
    --black-two: #1e1e1e;
    --white-three: #d8d8d8;
    --rouge: #c2131b;
    --warm-grey: #979797;
    --kermit-green: #3bc600;
    --dark: #202e3f;
    --white-four: #e4e4e4;
    --white-five: #ebebeb;
}

* {
    margin: 0px;
    padding: 0px;
}

.without-margin {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/* Headroom */

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

/* Headroom fin */

.uppercase {
    text-transform: uppercase;
}

.logo-color {
    width: 150px;
}

.contacto-completo, .contacto-completo-dark {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background-color: var(--peacock-blue);
    color: var(--white);
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.26px;
    display: flex;
    align-items: center;
    text-align: right;
}

.logo-exel-mexicana {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 32px;
    width: 230px;
    object-fit: contain;
}

.logo-exel-mexicana-color {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 32px;
    width: 230px;
    object-fit: contain;
}

.back-logo {
    width: 100%;
    background-color: var(--white);
}

.contacto-completo-dark {
    background-color: var(--greyish-brown-two);
}

.contacto-completo img {
    margin-left: 10px;
}

.img-logo img {
    width: 200px;
}

.navbar {
    padding-bottom: 0px;
    border-bottom: 0.5px solid var(--white);
}

.navbar-white {
    padding-bottom: 0px;
    border-bottom: 1px solid var(--black);
}

.navbar-light .navbar-nav .nav-link {
    font-size: 12px;
    color: var(--white) !important;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.nav-item {
    border-bottom: 5px solid transparent;
}

.nav-item:hover {
    transition: 0.5s ease-in;
    border-bottom: 5px solid var(--cherry-red);
}

.active-nav {
    border-bottom: 5px solid var(--cherry-red);
}

.btn-cotizador {
    position: relative;
    width: 120px;
    padding: 5px;
    top: 0px;
    background-color: var(--peacock-blue);
    color: var(--white) !important;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.oval {
    position: absolute;
    background-color: var(--cherry-red);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: -5px;
    top: -5px;
}

.bg-trans {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--white) !important;
    box-shadow: 0px 15px 16px -9px rgba(0, 0, 0, 0.20);
}

.navbar-black a {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: var(--black);
}

.title-slider {
    font-family: 'Raleway', sans-serif !important;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--white);
}

.subtitle-slider {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.25px;
    color: var(--white);
    padding-left: 10px;
}

.btn-danger {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--white);
    border-radius: 0px;
    background-color: var(--cherry-red);
    margin-left: 10px;
}

.first {
    width: 100%;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--battleship-grey), var(--battleship-grey)), url('../assets/img/foto.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blog-first, .blog-read {
    width: 100%;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--battleship-grey), var(--battleship-grey)), url('../assets/img/img\ nosotros\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blog-read {
    height: 500px !important;
}

.mask {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}


.mask-blog {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.align-center-elements {
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-text {
    width: 80%;
}

.mask>h4, .mask>h5, .mask>p {
    padding-left: 10px;
}

.mask>p {
    font-size: 13px;
    width: 70%;
}

.callout-bottom {
    width: 70%;
    margin-left: 10px;
    border-bottom: 4px solid var(--white);
    border-radius: 3px;
    color: var(--white);
}

.text-slider {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: var(--white);
    padding-left: 10px;
}

.align-categorias {
    display: flex;
    align-items: center;
    justify-content: center;
}

.callout-bottom-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--greyish-brown);
    width: 300px;
    border-bottom: 1px solid var(--warm-grey);
    padding-bottom: 5px;
    border-radius: 3px;
}

.callout-bottom-span {
    position: absolute;
    width: 60px;
    height: 5px;
    top: 26px;
    background-color: var(--peacock-blue);
}

/* inicio modal */

.modal.left .modal-dialog {
    position: fixed;
    right: 0;
    margin: auto;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

.modal-header .close {
    padding: 0px;
    margin: 0px;
    float: left;
    font-weight: lighter;
    text-shadow: none;
    font-size: 2em;
}

.form-buscar {
    width: 100%;
    text-transform: uppercase;
    margin-left: 10px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #434343;
}

.form-buscar:focus {
    transition: .25s ease-in;
    outline: none;
    border-bottom: 1px solid #0053A0;
}

/* fin modal */

/* Slick JS */

.slider .slick-dots {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.slick-dots li button {
    width: 50px;
    height: 4px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.50);
}

.slider .slick-prev, .slider .slick-next, .slider-marcas .slick-prev, .slider-marcas .slick-next {
    background-color: rgba(255, 255, 255, 0.50);
    width: 40px;
    height: 80px;
    z-index: 10;
}

.slider .slick-prev, .slider-marcas .slick-prev {
    left: 0px;
}

.slider .slick-prev::before, .slider-marcas .slick-prev::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f053";
}

.slider .slick-prev:hover {
    background-color: rgba(255, 255, 255, 0.60);
}

.slider .slick-next, .slider-marcas .slick-next {
    right: 0px;
}

.slider .slick-next:before, .slider-marcas .slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
}

.slider .slick-next:hover {
    background-color: rgba(255, 255, 255, 0.60);
}

.slider-marcas {
    width: 100%;
    box-sizing: content-box;
}

.slider-marcas .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-marcas .slick-next::before, .slider-marcas .slick-prev::before {
    color: #0053A0;
}

.slider-marcas .slick-list {
    padding: 20px;
}

/* Slick JS fin */

.contenedor {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    top: -30px;
}

.productos-nuevos-left {
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--peacock-blue), var(--peacock-blue)), url('../assets/img/fondo_1.png');
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 60vh;
    display: inline-block;
}

.productos-nuevos-right {
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%);
    position: absolute;
    right: 0%;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--rouge), var(--rouge)), url('../assets/img/fondo_2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: calc(100% - 35%);
    height: 60vh;
    display: inline-block;
    z-index: -1;
}

.productos-nuevos-right .mask>h4 {
    z-index: 10;
}

.brown {
    background-color: var(--greyish-brown);
    color: var(--white);
}

.battleship-grey {
    background-color: var(--battleship-grey);
}

.peacock-blue {
    background-color: var(--peacock-blue);
}

.greyish-brown-two {
    background-color: var(--greyish-brown-two);
}

.title-card-categoria-grande {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.33px;
    color: var(--white);
}

.btn-outline-danger {
    border: 1px solid var(--cherry-red) !important;
    border-radius: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--white);
}

.title-card-categoria, .title-card-categoria-brown {
    font-family: 'Raleway', sans-serif;
    font-size: 20px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.83px;
    color: var(--white);
}

.title-card-categoria-brown {
    color: var(--greyish-brown);
}

.btn-outline-primary {
    border: 1px solid var(--peacock-blue);
    border-radius: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--greyish-brown);
}

.btn-big {
    font-size: 30px;
    letter-spacing: 1px;
}

.img-bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.img-bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 40% !important;
}

.img-left-litle {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.img-bottom-right {
    position: absolute;
    bottom: 0px !important;
    right: 0px;
    width: 35% !important;
}

.litle-img {
    width: 90% !important;
}

.medium-img {
    width: 90% !important;
}

.big-img {
    width: 80% !important;
}

.img-bottom-discos {
    position: absolute;
    bottom: 0px;
    right: 30px;
}

.img-bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.white-three {
    background-color: var(--white-three);
    color: var(--greyish-brown);
}

.cherry-red {
    background-color: var(--cherry-red);
}

.image-form {
    width: 100%;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--peacock-blue), var(--peacock-blue)), url('../assets/img/img_cotizador.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cotiza-text {
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.95px;
    color: var(--white);
}

.mask-input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.form-foo, .text-label, .btn-buscar {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--battleship-grey);
}

.text-label {
    color: var(--white);
}

.margin-productos {
    margin-top: 100px;
    margin-bottom: 100px;
}

.btn-buscar {
    height: 35px;
    margin-top: 48px;
    background-color: var(--cherry-red);
    color: var(--white);
    border-radius: 0px;
}

.btn-buscar:hover {
    background-color: var(--vermillion);
    color: var(--white);
}

.form-control, .custom-select {
    border-radius: 0px;
    width: 100%;
}

.input-group-text {
    background-color: var(--white);
    border: 1px solid transparent;
    border-radius: 0px;
}

.catalogo-img {
    width: 100%;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--greyish-brown-two), var(--greyish-brown-two)), url('../assets/img/img_catalogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contacto-asesor {
    width: 100%;
    background-blend-mode: multiply;
    background: linear-gradient(to bottom, var(--cherry-red), var(--cherry-red)), url('../assets/img/img_contacto.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mask-asesor {
    padding-top: 40px;
    padding-bottom: 40px;
}

.contacta-text, .contacto-text {
    font-family: 'Raleway', sans-serif !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
}

.contacto-text {
    font-weight: normal;
    letter-spacing: normal;
}

.mask-asesor a {
    display: block;
}

.mask-asesor a:hover {
    text-decoration: none;
}

.mask-asesor img {
    padding-right: 20px;
}

.btn-mapa {
    position: relative;
    left: 0;
}

.form-transparent, .btn-enviar-asesor {
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
}

.form-transparent::placeholder {
    color: var(--white);
}

.form-transparent:focus {
    background-color: transparent;
    color: #ffffff;
}

.btn-enviar-asesor {
    background-color: var(--peacock-blue);
    border-radius: 0px;
}

.btn-enviar-asesor:hover {
    background-color: var(--peacock-blue);
    color: var(--white);
}

.google-maps {
    width: 100%;
    height: 30vh;
}

footer {
    background-color: var(--peacock-blue);
    color: var(--white);
}

.footer-link, .footer-links-light {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.34px;
    color: var(--white);
    padding: 0px;
}

.footer-links-light {
    padding-top: 0px;
    font-weight: normal;
    line-height: 1.88;
}

.footer-logo {
    width: 200px;
}

.derechos-reservados {
    background-color: var(--black-two);
}

.derechos-reservados a, .derechos-reservados p, .brand-industry {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--battleship-grey);
    padding-top: 20px;
}

.copy a:before {
    content: "\| ";
}

.derechos-align {
    display: inline-block;
}

.breadcrumb {
    background-color: var(--white) !important;
}

.breadcrumb-item, .breadcrumb .active, .dropdown-item, .item-piezas {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.47px;
    color: var(--greyish-brown);
    padding: 5px;
}

.breadcrumb a {
    color: var(--greyish-brown);
}

.breadcrumb .active {
    color: var(--cherry-red);
    padding-top: 5px;
    padding-left: 0px;
}

.text-productos {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--greyish-brown);
    padding-left: 10px;
}

.categorias-md-p {
    position: relative;
    width: 100%;
    height: 250px;
    opacity: 0.9;
    transition: 0.3s;
}

.categorias-md-p:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.categorias-md-p h5 {
    position: absolute;
    top: 260px;
    left: -10px;
    color: #555555;
}

.categorias-md-p img {
    width: 90%;
}

.categorias-md-p .big-img {
    width: 60%;
}

.categorias-md-p .left-img {
    position: relative;
    left: -50px;
}

.categorias-md-p .discos-pasta {
    position: relative;
    width: 80%;
    right: -50px;
}

.categorias-md-p .direcciones-img {
    position: relative;
    left: -30px;
    width: 60%;
}

.left-img-nw {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 150px;
}

.filtro-busqueda {
    background-color: var(--peacock-blue);
    width: 100%;
    margin-left: 1px;
}

.page-item.active .page-link {
    color: var(--cherry-red);
    background-color: var(--white);
}

.filtro-busqueda .btn-marcas {
    border-left: 1px solid rgb(202, 202, 202);
    border-right: 1px solid rgb(202, 202, 202);
    border-radius: 0px;
}

.filtro-busqueda .btn-filtro:focus, .filtro-busqueda .btn-marcas:focus {
    background-color: var(--cherry-red);
    color: var(--white);
}

.table td {
    vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F3F7FB;
}

.btn-carrito {
    border-radius: 0px;
    background-color: var(--peacock-blue);
    color: var(--white) !important;
}

.btn-carrito:hover {
    border-radius: 0px;
    background-color: var(--peacock-blue);
    color: var(--white) !important;
}

.form-table {
    width: 80px;
    height: 30px;
}

.descripcion-table:hover {
    cursor: pointer;
    color: var(--cherry-red);
    text-decoration: none;
}

.form-mostrar {
    padding-top: 5px !important;
    margin-left: 5px;
    width: 200px;
}

.right-align {
    position: relative;
    right: 0px;
}

.page-link {
    border: 0px;
}

.btn-descargar {
    position: relative;
    height: 40px;
    background-color: var(--cherry-red);
    color: var(--white) !important;
    border-radius: 0px;
    margin-top: 5px;
    padding-top: 6px !important;
}

.btn-descargar:hover {
    background-color: var(--vermillion);
    color: var(--white) !important;
}

.icon-descargar {
    position: absolute;
    width: 30px;
    height: 40px;
    padding: 5px;
    top: -1px;
    padding-top: 10px;
    margin-left: 10px;
    background-color: var(--peacock-blue);
    color: var(--white);
}

.productos-page>p, .productos-page>a {
    color: #555555;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 0px;
}

.productos-page h4 {
    margin-top: 0px;
    padding-left: 10px;
}

.card-cotizacion {
    width: 100%;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--white-two);
}

.card-cotizacion>h6, .card-title-cotiza, .card-cantidad-cotiza {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--greyish-brown);
    margin-bottom: 20px;
}

.card-title-cotiza {
    font-size: 15px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 0px;
}

.card-cantidad-cotiza {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.53px;
    color: var(--greyish-brown);
}

.times-icon {
    color: var(--greyish-brown);
}

.times-icon:hover {
    color: var(--greyish-brown-two);
}

.icon-formas {
    font-size: 20px;
}

.form-cotiza {
    margin-top: 20px;
    background-color: var(--white);
    border: 1px solid var(--white);
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--greyish-brown);
}

.btn-card-cotizar {
    position: relative;
    top: -40px;
    background-color: var(--cherry-red);
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: var(--white);
}

.card-cotizacion button:hover {
    background-color: var(--vermillion);
    color: var(--white);
    border-radius: 0px;
}

.number-form {
    width: 80px;
}

.white-four {
    background-color: var(--white-four);
}

.card-informacion {
    width: 100%;
    height: 280px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.title-card-cotizador, .text-card-cotizador {
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--white);
}

.text-card-cotizador {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.56;
    letter-spacing: 0.53px;
}

.card-pago {
    color: var(--greyish-brown);
}

.pago, .garantia {
    padding-top: 45px;
}

.align-center {
    display: flex;
    justify-content: center;
}

.btn-buscar-blue {
    position: relative;
    top: 30px;
    background-color: var(--peacock-blue);
    color: var(--white);
    border-radius: 0px;
}

.btn-buscar-blue:hover {
    background-color: var(--peacock-blue);
    color: var(--white);
}

.btn-cotizador-card {
    margin-top: 70px;
}

.filtro-busqueda h4, .filtro-busqueda .btn-marcas, .filtro-busqueda .btn-filtro, .table-text, .page-item {
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    color: var(--white);
    padding-top: 10px;
    padding-left: 10px;
}

.filtro-busqueda .btn-filtro {
    font-size: 14.5px;
    padding-top: 11px;
    background-color: transparent;
    color: var(--white);
    border-radius: 0px;
}

.table-text {
    color: var(--black);
}

.page-link {
    color: var(--greyish-brown);
    padding: 5px 5px;
}

.title-cotizador {
    opacity: 0.7;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.47px;
    color: var(--greyish-brown);
}

.subtitle-cotizador, .disponible, .links-chat {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--dark);
}

.disponible {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.67px;
    color: var(--kermit-green);
}

.chat-text, .card-cantidad {
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--greyish-brown-two);
}

.card-cantidad {
    padding-left: 5px;
    font-size: 16px;
}

.links-chat {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: normal;
    color: var(--cherry-red);
    padding-left: 10px;
    padding-right: 10px;
}

.links-chat:hover {
    color: var(--vermillion);
}

.align-content-center {
    display: flex;
    align-items: center;
}

.card-nosotros-left {
    position: absolute;
    border-radius: 0px;
    padding: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--white);
}

.card-nosotros-right {
    position: absolute;
    border-radius: 0px;
    padding: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--white);
}

.card-nosotros-left>p, .card-nosotros-right>p {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.67px;
    text-align: justify;
    color: var(--greyish-brown);
}

.card-nosotros-left span, .card-nosotros-right span {
    color: var(--peacock-blue);
}

.imagen-nosotros-left {
    border-bottom: 5px solid var(--peacock-blue);
}

.imagen-nosotros-right {
    border-bottom: 5px solid var(--cherry-red);
    z-index: -1;
}

.title-blog {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.25px;
    color: var(--greyish-brown);
}

.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark, .checkmark-marcas {
    position: absolute;
    top: 14px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--white);
    border: 1px solid var(--black-two);
}

.checkmark-marcas {
    background-color: transparent;
    border: 1px solid var(--white);
}

.container-check input:checked~.checkmark, .container-check input:checked~.checkmark-marcas {
    background-color: var(--white-two);
}

.checkmark:after, .checkmark-marcas:after {
    content: "";
    position: absolute;
    display: none;
}

.container-check input:checked~.checkmark:after, .container-check input:checked~.checkmark-marcas:after {
    display: block;
}

.container-check .checkmark:after, .container-check .checkmark-marcas:after  {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--black-two);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.title-check, .text-transparent, .title-check-marcas {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.13;
    letter-spacing: 0.53px;
    color: var(--greyish-brown);
}

.title-check-marcas {
    color: var(--white);
}

.title-entrada {
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    color: var(--greyish-brown);
}

.text-entrada, .publicado-entrada {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.23px;
    color: var(--greyish-brown);
}

.publicado-entrada {
    font-size: 10px;
}

.title-card-blog {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.83px;
    color: var(--greyish-brown);
    padding: 20px;
}

.categorias-md-blog {
    height: 500px !important;
}

.categoria-blog-card, .title-blog-card, .title-read-blog, .publicado-read-blog {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.36px;
    color: var(--cherry-red);
    padding-top: 10px;
}

.title-read-blog {
    font-size: 24px;
    font-weight: 300;
    font-stretch: condensed;
    line-height: 1.21;
    letter-spacing: 1.5px;
    color: var(--white);
    padding-top: 0px;
    padding-left: 10px;
}

.publicado-read-blog {
    font-size: 24px;
    font-weight: 600;
    font-stretch: condensed;
    line-height: 0.83;
    letter-spacing: 1.5px;
    color: var(--white);
    padding-top: 0px;
    padding-left: 10px;
}

.entrada-blog {
    box-sizing: content-box;
}

.title-blog-card {
    width: 90%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.25px;
    text-overflow: ellipsis;
    color: var(--greyish-brown);
    padding-top: 0px;
}

.publicado-blog-card, .text-blog-card, .btn-leer, .fecha-read-blog {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.36px;
    color: var(--greyish-brown);
}

.text-blog-card {
    margin-top: 0px;
    font-size: 12px;
    letter-spacing: normal;
    text-align: justify;
}

.fecha-read-blog {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1.25px;
    color: var(--white);
    padding-top: 20px;
    padding-left: 10px;
}

.calendar {
    width: 100px;
    height: 100px;
    background-color: var(--peacock-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar>span {
    font-family: 'Barlow', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.88px;
    color: var(--white);
    text-align: center;
    box-sizing: content-box;
}

.btn-leer {
    position: absolute;
    right: 110px;
    margin-top: -41px;
    font-size: 12px;
    background-color: transparent;
    font-weight: 600;
    color: var(--cherry-red);
}

.btn-leer:hover {
    color: var(--vermillion);
}

.text-read-blog, .callout-left-blog, .title-read-blog-pha {
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.13;
    letter-spacing: 1px;
    text-align: justify;
    color: var(--greyish-brown);
}

.callout-left-blog {
    width: 100%;
    background-color: var(--white-five);
    margin-left: 10px;
    border-left: 20px solid var(--cherry-red);
    border-radius: 0px;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.callout-left-blog>p {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.25px;
    text-align: center;
    color: var(--greyish-brown);
}

.title-read-blog-pha {
    font-size: 20px;
    font-weight: bold;
    line-height: 2.13;
    letter-spacing: 1.25px;
    color: var(--peacock-blue);
}

.btn-group-blog {
    display: inline-block;
}

.btn-blog {
    background-color: var(--peacock-blue);
    border-radius: 0px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: var(--white);
}

.btn-blog:hover {
    color: var(--white);
}

.subtitle-soporte, .text-soporte {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: var(--greyish-brown);
}

.bottom-span {
    top: 22px;
}

.text-soporte {
    font-weight: normal;
}

.dialogo, .btn-soporte {
    width: 25%;
    background-color: var(--white-three);
    color: var(--greyish-brown);
    position: relative;
}

.dialogo > .active {
    width: 100%;
    height: 100%;
    position: relative;
}

.text-dialogo, .dropdown-item-soporte {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--greyish-brown);
}

.text-dialogo:hover{
    color: var(--greyish-brown-two);
}

.dialogo > .active  {
    background-color: var(--peacock-blue) !important;
    color: var(--white) !important;
}

.dialogo > .active::after {
    position: absolute;
    content: '';
    display: block;
    bottom: -39px;
    border-top: 20px solid var(--peacock-blue);
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    right: calc(50% - 20px);
}

.btn-soporte {
    border-radius: 0px;
    font-size: 13px;
    margin-top: 1em;
    width: 100%;
}

.dropdown-item-soporte {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 13px;
    color: var(--black-two);
}

.active-btn {
    background-color: var(--peacock-blue) !important;
    color: var(--white);
}

.text-cotizador {
    color: var(--greyish-brown) !important;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
}

.text-transparent {
    color: transparent !important;
}

.btn-danger-card {
    background-color: var(--cherry-red);
    color: var(--white);
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: var(--white);
    margin-bottom: 20px;
    border-radius: 0px;
}

.google-maps-sucursales {
    width: 100%;
}

.sucursales-side {
    border: 1px solid var(--greyish-brown);
    overflow: auto;
}

.sucursales-content {
    cursor: pointer;
    border-bottom: 1px solid var(--greyish-brown);
    padding-bottom: 10px;
    padding: 20px;
}

.flecha-sucursales {
    color: var(--peacock-blue);
    padding-top: 30px;
    padding-left: 10px;
}

.title-sucursal, .text-sucursal, .contacto-sucursales {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.43px;
    color: var(--greyish-brown);
}

.text-sucursal {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.34px;
}
.contacto-sucursales {
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0.26px;
}

.svg-contacto {
    width: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.side-marcas {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;    
    background-color: var(--peacock-blue);
    overflow: auto;
}

.text-side-categoria {
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: var(--white);
}

.contenedor-imagen-marcas {
    width: 100%;
    height: 200px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-imagen-marcas:hover  {
    cursor: pointer;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.img-marcas {
    width: 180px;
}

.img-marcas-bg {
    width: 100px;
}

/* col */

@media screen and (min-width: 350px) {
    .first, .second, .third, .blog-first {
        height: 80vh;
    }
    .bg-light {
        position: relative;
        background-color: var(--white) !important;
    }
    .slick-dots li button {
        width: 30px;
    }
    .slider .slick-dots li {
        margin-left: 10px;
    }
    .categorias {
        position: relative;
        width: 100%;
        height: 40vh;
    }
    .categorias-md {
        position: relative;
        width: 100%;
        height: 50vh;
        padding: 10px;
    }
    .categorias-md img {
        width: 70%;
    }
    .categorias-lg {
        position: relative;
        width: 100%;
        height: 80vh;
    }
    .categorias-lg img {
        width: 70%;
    }
    .categorias-sm {
        position: relative;
        width: 100%;
        height: 40vh;
    }
    .categorias-nw {
        position: relative;
        width: 100%;
        height: 50vh;
    }
    .categorias-nw img {
        width: 50%;
    }
    .categorias-md-f {
        position: relative;
        width: 100%;
        height: 50vh;
    }
    .modal.left .modal-dialog {
        width: 90% !important;
    }
}

/* col-sm */

@media screen and (min-width: 350px) and (max-width: 544px) {
    .first, .second, .third, .blog-first {
        height: 90vh;
    }
    .bg-light {
        position: relative;
        background-color: var(--white) !important;
    }
    .navbar-light .navbar-nav .nav-link {
        color: var(--black) !important;
    }
    .mg-top {
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .slick-dots li button {
        width: 30px;
    }
    .slider .slick-dots li {
        margin-left: 10px;
    }
    .categorias {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .categorias-md {
        position: relative;
        width: 100%;
        height: 60vh;
        padding: 10px;
    }
    .categorias-lg {
        position: relative;
        width: 100%;
        height: 80vh;
    }
    .categorias-sm {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .categorias-nw {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .categorias-md-f {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .title-card-categoria, .title-card-categoria-brown, .btn-outline-danger, .btn-outline-primary {
        font-size: 20px !important;
    }
    .title-card-categoria-grande {
        font-size: 30px !important;
    }
    .litle-img {
        width: 90% !important;
    }
    .big-img {
        width: 50% !important;
    }
    .rodanas-img {
        width: 80%;
    }
    .medium-img {
        width: 60% !important;
    }

    .img-bottom-right, .img-bottom-left {
        width: 50% !important;
    }
    .modal.left .modal-dialog {
        width: 90% !important;
    }
    .card-nosotros-left {
        padding: 15px;
        left: 30px;
        top: -70px;
        width: 90%;
    }
    .card-nosotros-right {
        padding: 15px;
        bottom: -450px;
        right: 30px;
        width: 90%;
    }
    .card-nosotros-left>p, .card-nosotros-right>p {
        font-size: 13px;
    }
    .sm-top {
        margin-top: 160px;
    }
    .productos-nuevos-left {
        position: relative;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        width: 100%;
        height: 80vh;
    }
    .productos-nuevos-right {
        position: relative;
        width: 100%;
        height: 40vh;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
    .productos-nuevos-right img {
        width: 70% !important;
    }
    .sucursales-side, .google-maps-sucursales {
        height: 80vh;
    }
}

/* col-md */

@media screen and (min-width: 544px) and (max-width: 768px) {
    .first, .second, .third, .blog-first {
        height: 100vh;
    }
    .bg-light {
        position: relative;
        background-color: var(--white) !important;
    }
    .slick-dots li button {
        width: 40px;
    }
    .slider .slick-dots li {
        margin-left: 30px;
    }
    .categorias {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .categorias-md {
        position: relative;
        width: 100%;
        height: 50vh;
        padding: 10px;
    }
    .categorias-md img {
        width: 70%;
    }
    .categorias-md h4 {
        font-size: 15px;
    }
    .categorias-lg {
        position: relative;
        width: 100%;
        height: 80vh;
    }
    .categorias-lg img {
        width: 70%;
    }
    .categorias-sm {
        position: relative;
        width: 100%;
        height: 50vh;
    }
    .categorias-nw {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .categorias-nw img {
        width: 50%;
    }
    .categorias-md-f {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .google-maps {
        height: 50vh;
    }
    .catalogo-img {
        height: 80vh;
    }
    .litle-img {
        width: 60% !important;
    }
    .big-img {
        width: 40% !important;
    }
    .img-bottom-right, .img-bottom-left {
        width: 30% !important;
    }
    .rodanas-img {
        width: 80% !important;
    }
    .medium-img {
        width: 70% !important;
    }
    .modal.left .modal-dialog {
        width: 90% !important;
    }
    .productos-nuevos-left {
        position: relative;
        top: 0px;
        clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
        width: 65%;
        height: 90vh;
    }
    .productos-nuevos-right {
        clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
        width: calc(100% - 40%);
        height: 90vh;
        z-index: -1;
    }
    .productos-nuevos-right img {
        width: 50% !important;
    }
    .sucursales-side, .google-maps-sucursales {
        height: 90vh;
    }
}

/* col-lg */

@media screen and (min-width: 768px) and (max-width: 992px) {
    .first, .second, .third, .blog-first {
        height: 70vh;
    }
    .bg-light {
        position: relative;
        background-color: var(--white) !important;
    }
    .navbar-light .navbar-nav .nav-link {
        color: var(--black) !important;
    }
    .mg-top {
        margin-top: 80px;
        margin-bottom: 10px;
    }
    .navbar-togger-icon {
        color: var(--black-two) !important;
    }
    .slick-dots li button {
        width: 30px;
    }
    .slider .slick-dots li {
        margin-left: 10px;
    }
    .categorias {
        position: relative;
        width: 100%;
        height: 30vh;
    }
    .categorias-md {
        position: relative;
        width: 100%;
        height: 300px;
    }
    .categorias-lg {
        position: relative;
        width: 100%;
        height: 500px;
    }
    .categorias-nw {
        position: relative;
        width: 100%;
        height: 300px;
    }
    .categorias-sm {
        position: relative;
        width: 100%;
        height: 30vh;
    }
    .categorias-md-f {
        position: relative;
        width: 100%;
        height: 62vh;
    }
    .modal.left .modal-dialog {
        width: 90% !important;
    }
    .card-informacion {
        width: 100%;
        height: 350px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .title-card-categoria, .title-card-categoria-brown, .btn-outline-danger, .btn-outline-primary {
        font-size: 13px !important;
    }
    .title-card-categoria-grande {
        font-size: 30px !important;
    }
    .litle-img {
        width: 80% !important;
    }
    .big-img {
        width: 70% !important;
    }
    .rodanas-img {
        width: 60% !important;
    }
    .card-nosotros-left {
        left: 100px;
        top: -180px;
        width: 600px;
    }
    .card-nosotros-right {
        left: 30px;
        top: 380px;
        width: 600px;
    }
    .card-nosotros-left>p .card-nosotros-right>p {
        font-size: 15px;
    }
    .sm-top {
        margin-top: 210px;
    }
    .productos-nuevos-left {
        clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
        width: 65%;
    }
    .productos-nuevos-right {
        clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
        width: calc(100% - 40%);
        z-index: -1;
    }
    .productos-nuevos-right img {
        width: 50% !important;
    }
    .catalogo-img {
        height: 40vh;
    }
    .img-bottom-right, .img-bottom-left {
        width: 70% !important;
    }
    .sucursales-side, .google-maps-sucursales {
        height: 80vh;
    }
    .side-marcas {
        height: 800px;
    }
    .img-marcas {
        width: 130px;
    }
    .img-marcas-bg {
        width: 70px;
    }
}

/* col-xl */

@media screen and (min-width: 992px) and (max-width: 1400px) {
    .first, .second, .third, .blog-first {
        height: 90vh;
    }
    .bg-light {
        position: relative;
        background-color: transparent !important;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0px;
        padding-right: 0px;
    }
    .mg-top {
        margin-top: 130px;
        margin-bottom: 10px;
    }
    .slick-dots li button {
        width: 50px;
    }
    .slider .slick-dots li {
        margin-left: 30px;
    }
    .categorias {
        position: relative;
        width: 100%;
        height: 40vh;
    }
    .categorias-md h4 {
        font-size: 25px;
    }
    .categorias-md {
        position: relative;
        width: 100%;
        height: 400px;
        padding: 10px;
    }
    .categorias-lg {
        position: relative;
        width: 100%;
        height: 500px;
    }
    .categorias-nw {
        position: relative;
        width: 100%;
        height: 400px;
    }
    .categorias-sm {
        position: relative;
        width: 100%;
        height: 40vh;
    }
    .categorias-md-f {
        position: relative;
        width: 100%;
        height: 83vh;
    }
    .modal.left .modal-dialog {
        width: 60% !important;
    }
    .medium-img {
        width: 80% !important;
    }
    .rodanas-img {
        width: 80% !important;
    }
    .big-img {
        width: 80% !important;
    }
    .card-nosotros-left {
        left: -80px;
        width: 580px;
    }
    .card-nosotros-right {
        right: -80px;
        width: 580px;
    }
    .card-nosotros-left>p .card-nosotros-right>p {
        font-size: 15px;
    }
    .catalogo-img {
        height: 50vh;
    }
    .img-bottom-right, .img-bottom-left {
        width: 70% !important;
    }
    .sucursales-side, .google-maps-sucursales {
        height: 90vh;
    }
}

@media screen and (min-width: 1400px) and (max-width: 2000px) {
    .first, .second, .third, .blog-first {
        height: 90vh;
    }
    .bg-light {
        position: relative;
        background-color: transparent !important;
    }
    .mg-top {
        margin-top: 130px;
        margin-bottom: 10px;
    }
    .modal.left .modal-dialog {
        width: 60% !important;
    }
    .slick-dots li button {
        width: 50px;
    }
    .slider .slick-dots li {
        margin-left: 30px;
    }
    .categorias {
        position: relative;
        width: 100%;
        height: 30vh;
    }
    .categorias-md h4 {
        font-size: 25px;
    }
    .categorias-md {
        position: relative;
        width: 100%;
        height: 40vh;
        padding: 10px;
    }
    .categorias-lg {
        position: relative;
        width: 100%;
        height: 50vh;
    }
    .categorias-nw {
        position: relative;
        width: 100%;
        height: 40vh;
    }
    .categorias-sm {
        position: relative;
        width: 100%;
        height: 30vh;
    }
    .categorias-md-f {
        position: relative;
        width: 100%;
        height: 62vh;
    }
    .card-nosotros-left {
        left: -340px;
        width: 700px;
    }
    .card-nosotros-right {
        right: -340px;
        width: 700px;
    }
    .card-nosotros-left>p, .card-nosotros-right>p {
        font-size: 18px;
    }
    .catalogo-img {
        height: 40vh;
    }
    .rodanas-img {
        width: 80% !important;
    }
    .img-bottom-right, .img-bottom-left {
        width: 70% !important;
    }
    .sucursales-side, .google-maps-sucursales {
        height: 80vh;
    }
}